extends layout

block content
  div.container
    div.page-header
      h1 socket.io Testing Area <small>Enjoy your stay.</small>
    div.panel.panel
      div.panel-heading socket.io Messages 
        a.btn.btn-info(id='sender')='Send a Message'
      ul(id='receiver')
      
block append foot
    script(defer, src='/js/socket.js')